/* CSS */
/* some styling parameters */
:root {
    --text-color: #D3D3D3;
    /* whiteish color for text */
    --paragraph-color: #858382;
    /* greyish color for paragraphs */
    --background-color: #1E1E1E;
    /* dark color for background */
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    /* fix for Chrome apparently */
    --rain-height: 0;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

/* General styles */
html {
    font-size: medium;
    font-feature-settings: "ss03", "cv02", "cv11";
    background: var(--background-color);
    color: var(--text-color);
    font-family: Inter, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 50em;
    padding: 0 2em;
    overflow: auto;
}

/* Header and footer styles */
.header {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--background-color);
    color: inherit;
    padding: 1em 0;
    font-family: inherit;
    z-index: 10;
    box-shadow: 0 0 1em rgba(0,0,0,0.75);
}

#nav {
    display: flex;
    justify-content: left;
    align-items: center;
    z-index: 10;
    width: 100%;
}

#nav ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
}

#matrixButton {
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
}

#matrixButton.active {
    background: var(--text-color);
    color: var(--background-color);
}

#matrixMenu {
    display: none;
    position: absolute;
    right: 1em;
    justify-content: center;
    align-items: center;
    top: 100%;
    background: linear-gradient(to right,#196BCA ,#6433E0);
    border-radius: 0.5em;
    padding: 0.8em 0.8em 0.6em 0.8em; 
    flex-direction: column;
}

#matrixMenu label {
    display: block;
    margin-bottom: 0.2em;
    box-sizing: border-box;
    font-weight: bold;
}

#matrixMenu input {
    margin-bottom: 0.4em;
    box-sizing: border-box;
    background: var(--text-color);
}

#resetButton {
    padding: 0.6em 0.8em;
    margin-top: 0.4em;
    border: 0 solid #000;
    font-weight: bold;
    border-radius: 1em;
    display: block;
    justify-content: center;
    align-items: center;
    background: var(--text-color);
    user-select: none;
    color: var(--background-color);
    cursor: pointer;
    }
    #resetButton:hover{
    background: linear-gradient(to right,#5482d0 ,#7d5ee3);
    color: var(--text-color);
    }
    #resetButton:active{
    transform: scale(0.95);
}

.footer {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    font-size: small;
    color: var(--paragraph-color);
}

.menu-item {
    margin: 0;
    padding-right: 1em;
    color: inherit;
    text-decoration: none;
    font-family: inherit;
}

.menu-name {
    font-size: x-large;
    font-weight: bold;
    color: inherit;
    font-family: inherit;
    text-decoration: none;
    padding-right: 1em;
    padding-left: 1em;
    margin: 0;
}

.menu-item:hover {
    color: var(--paragraph-color);
    user-select: none;
    cursor: pointer;
}

.menu-name:active {
    transform: scale(0.95);
}

.menu-btn {
    background: transparent;
    padding: 0 1em;
    color: var(--text-color);
    cursor: pointer;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    display: none;
    transition: background 0.3s;
    padding-right: 1em;

} .menu-btn:hover {
    color: var(--paragraph-color);
}

@media screen and (max-width: 34em) {
    /* Show menu button next to name instead of menu items */
    .menu-btn {
        display: inline-block;
    }

    .menu-name {
        padding-left: 0;
    }

    nav {
        display: flex;
        justify-content: left;
        align-items: center;
        flex: 1;
        z-index: 100;
    }
    
    nav ul {
        visibility: hidden;
        pointer-events: none;
        position: absolute;
        flex-direction: column;
        justify-content: flex-start;
        top: 100%;
        height: auto;
        list-style: none;
        width: 12em;
        background: var(--background-color);
        padding: 0;  
        margin: 0; 
    }
    
    nav.active ul {
        visibility: visible;
        pointer-events: initial;
    }

    nav.active ul li {
        padding: 0.6em 0;
        text-align: center;
    } 
    nav.active ul li:hover {
        background: var(--text-color);
        color: var(--background-color);
        user-select: none;
    }
    .menu-item:hover {
        color: inherit;
    }
}


/* Main container styles */
.center-container {
    padding-bottom: 4em;
}

.center-container a {
    color: inherit;
    text-decoration: underline;
}

.center-container a:hover {
    color: var(--text-color);
}

.center-container h3 {
    font-size: large;
    font-weight: bold;
    font-family: inherit;
}

.center-container h2 {
    font-size: large;
    font-family: inherit;
    text-transform: uppercase;
}

#top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4em;
}

.intro {
    flex: 1;
    margin-right: 1em;
}
.intro h1 {
    line-height: 1;
}

h1 {
    font-size: 300%;
    font-weight: bold;
    color: inherit;
    font-family: inherit;
}

.social-icons {
    display: flex;
    justify-content: left;
    gap: 1em;
}

.social-icons a:hover {
    color: var(--paragraph-color);
}

.social-icons a {
    color: inherit;
    text-decoration: none;
    font-size: x-large;
}

.profile-picture {
    width: 25vw;
    height: 25vw;
    max-width: 16em;
    max-height: 16em;
    border-radius: 50%;
    overflow: hidden;
}

@media screen and (max-width: 28em) {
    .profile-picture {
        display: none;
    }
}

.profile-picture img {
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: grayscale(100%) contrast(110%);
}

.video-container {
    display: none;
    width: 100%;
    position: relative;
    padding-top: 56.25%;
    margin-top: 2em;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-button, .more-buton {
    display: flex;
    justify-content: center;
    align-items: center;
}

#videoButton {
    margin-top: 2em;
}

.button, a.button {
    background: linear-gradient(to right,#196BCA ,#6433E0);
    user-select: none;
    background-color: #196BCA;
    color: var(--text-color);
    font-family: inherit;
    font-size: medium;
    font-weight: bold;
    text-decoration: none;
    padding: 0.6em 0.8em;
    border: 0 solid #000;
    border-radius: 1em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    }
    .button:hover, a.button:hover{
    background: linear-gradient(to right,#5482d0 ,#7d5ee3);
    background-color: #5482d0;
    }
    .button:active, a.button:active{
    transform: scale(0.95);
}


/* Experience styles */
.exp-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.exp-tags span {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #3cd1d0;
    font-size: 85%;
    border-radius: 1em;
    padding: 0.6em;
    margin-right: 0.5em;
    background-color: #122b39;
    pointer-events: none;
    user-select: none;
}

#experience .exp-tags span {
    margin-top: 1em;
}

.cv-button {
    margin-top: 2em;
}

#experience table, #projects table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 1em;

    border-top: none;
    border-bottom: none;
    table-layout: fixed;
}

#experience table td {
    padding: 0.6em 0;
    font-family: inherit;
    vertical-align: top;
}

#experience table tr td h3, #experience table tr td h4 {
    margin: 0 0 0.5em 0;
}

#experience table tr td h4 {
    font-weight: normal;
    color: var(--paragraph-color);
}

#experience table tr td:first-child {
    width: 30%;
    padding-right: 1em;
}

#projects table tr {
    display: flex;
    flex-direction: row;
    font-family: inherit;
    align-items: center;
    padding-bottom: 1em;
}

#projects table td {
    font-family: inherit;
    top: 0;
    width: 100%;
}

#projects table tr td:first-child {
    padding-right: 1em;
}
#projects table tr td:last-child {
    padding-left: 1em;
}

#lastContainer.center-container {
    padding-bottom: 1.5em;
}

.project-image {
    width: 100%;
    border-radius: 0.6em;
    overflow: hidden;
}

#projects table tr #projectImage {
    width: 50%;
}

#projects p, #experience p, #about p {
    color: var(--text-color);
}

.project-title {
    padding: 0;
    margin: 0;
}

#interests {
    display: none;
    margin: auto;
}

#moreButton {
    margin: 0;
    position: relative;
    z-index: 1;
    margin-top: 2em;
}

/* for fun */
.rain {
    z-index: -1;
    position: absolute;
}

@keyframes rain {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(var(--rain-height));
    }
}